.panel {
    display: flex;
    flex-direction: column;
    width: 837px;
    line-height: 24px;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-x: auto;
    margin: 24px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.panel div {
    margin: 3px;
}

.panel span {
    font-weight: 600;
}

