.message{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.message span{
    font-weight: 600;
    text-align: center;
    display: inline-block;
    min-width: 16px;
    height: 24px;
    background-color: #f8bcc8;
    border: 1px solid #ad687a;

}